[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
click = "*"
greenlet = "*"
iniconfig = "*"
itsdangerous = "*"
pluggy = "*"
psycopg2-binary = "*"
py = "*"
pyparsing = "*"
toml = "*"
tomli = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
pandas = "*"
requests = "*"
numpy = "*"
python-decouple = "*"
ddtrace = "*"
pysnooper = "*"
elasticsearch = "*"
structlog = "*"
waitress = "*"
python-json-logger = "*"
hupper = "*"
markdownify = "*"
readtime = "*"
black = "*"
oci = "*"
mock = "*"
celery = "*"
redis = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
flask-debugtoolbar = "*"
flask-testing = "*"
"flake8" = "*"
"tox" = "*"
"tox-pipenv" = "*"
"pytest-structlog" = "*"

[requires]
python_version = "3.9"
