[[source]]
url = "https://repo.devops.projectronin.io/repository/pypi/simple"
verify_ssl = true
name = "ronin"

[requires]
python_version = "3.9"

[packages]
flask = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
redis = "*"
celery = "*"
elasticsearch = "*"
pandas = "*"
requests = "*"
structlog = "*"
waitress = "*"
python-json-logger = "*"
hupper = "*"
markdownify = "*"
readtime = "*"
black = "*"
oci = "*"
flower = "*"
python-decouple = "*"
numpy = "*"
ddtrace = "*"
cachetools = "*"
httpx = "*"
