name: INFX Content API Deployment to K8s

on:
  workflow_dispatch:
  push:
    branches: [QUAL-652-waitress]

jobs:
  infx-content_test:
    uses: projectronin/github/.github/workflows/python_test.yml@master
    secrets:
      codecov-token: ${{ secrets.INFX_API_CODECOV_TOKEN }}

  image-push:
    uses: projectronin/github/.github/workflows/image_push.yml@master
    with:
      image-tag: ${{ github.sha }}
    secrets:
      username: ${{ secrets.ACR_USERNAME }}
      password: ${{ secrets.ACR_PASSWORD }}

  argocd_dev:
    uses: projectronin/github/.github/workflows/argocd_deploy.yml@master
    needs: [infx-content_test,image-push]
    with:
      environment: dev
      image-tag: ${{ github.sha }}
    secrets:
      argocd-svc-automation: ${{ secrets.ARGOCD_SVC_AUTOMATION }}

  argocd_stage:
    uses: projectronin/github/.github/workflows/argocd_deploy.yml@master
    needs: [argocd_dev]
    with:
      environment: stage
      image-tag: ${{ github.sha }}
    secrets:
      argocd-svc-automation: ${{ secrets.ARGOCD_SVC_AUTOMATION }}

  argocd_prod:
    uses: projectronin/github/.github/workflows/argocd_deploy.yml@master
    needs: [argocd_stage]
    with:
      environment: prod
      image-tag: ${{ github.sha }}
    secrets:
      argocd-svc-automation: ${{ secrets.ARGOCD_SVC_AUTOMATION }}
